In [ ]:
!pip install sqlalchemy==1.3.9

In [1]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (2.0.37)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.16.0 sqlparse-0.5.3
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.12/site-packages (3.16.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas

In [5]:
%sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [7]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [12]:
import sqlite3

# Connect to your database (replace 'your_database.db' with your file)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('SELECT DISTINCT "Launch_Site" FROM SPACEXTBL')

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the connection
conn.close()

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)

In [11]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('SPACEXTBL',), ('SPACEXTABLE',)]

In [7]:
# Connect to the database
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('''
    SELECT *
    FROM SPACEXTBL
    WHERE "Launch_Site" LIKE 'CCA%'
    LIMIT 5;
''')

# Fetch and print results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the connection
conn.close()

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

In [9]:
#Task3

In [10]:
import sqlite3

# Connect to your database (update the path or name if needed)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the query
cursor.execute('''
    SELECT SUM("PAYLOAD_MASS__KG_") AS "Total_Payload_Mass"
    FROM SPACEXTBL
    WHERE "Customer" LIKE '%NASA (CRS)%';
''')

# Fetch and print the result
result = cursor.fetchone()
print("Total Payload Mass carried by NASA (CRS):", result[0])

Total Payload Mass carried by NASA (CRS): 48213

In [11]:
# Task 4

In [12]:
SELECT AVG("PAYLOAD_MASS__KG_") AS "Average_Payload_Mass"
FROM SPACEXTBL
WHERE "Booster_Version" = 'F9 v1.1';

SyntaxError: invalid syntax (1495904684.py, line 1)

In [13]:
import sqlite3

# Connect to your database (update the path or name if needed)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the query
cursor.execute('''
    SELECT AVG("PAYLOAD_MASS__KG_") AS "Average_Payload_Mass"
    FROM SPACEXTBL
    WHERE "Booster_Version" LIKE 'F9 v1.1';
''')

# Fetch and print the result
result = cursor.fetchone()
print("average payload mass carried by booster version F9 v1.1:", result[0])

average payload mass carried by booster version F9 v1.1: 2928.4

In [14]:
# Task 5

In [15]:
import sqlite3

# Connect to your database (update the path or name if needed)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the query
cursor.execute('''
    SELECT MIN("Date") AS "First_Successful_Landing_Date"
    FROM SPACEXTBL
    WHERE "Landing_Outcome" = 'Success (ground pad)';
''')

# Fetch and print the result
result = cursor.fetchone()
print("First succesful landing outcome in ground pad was acheived for ground pad:", result[0])

First succesful landing outcome in ground pad was acheived for ground pad: 2015-12-22

In [16]:
# Task 6

In [17]:
import sqlite3

# Connect to your database (update the path or name if needed)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the query
cursor.execute('''
    SELECT "Booster_Version"
    FROM SPACEXTBL
    WHERE "Landing_Outcome" = 'Success (drone ship)'
        AND "PAYLOAD_MASS__KG_" > 4000
        AND "PAYLOAD_MASS__KG_" < 6000;
''')

# Fetch and print the result
result = cursor.fetchone()
print("Names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000:", result[0])

Names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000: F9 FT B1022

In [18]:
# Task 7

In [22]:
import sqlite3

# Connect to your database (update the path or name if needed)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the query
cursor.execute('''
    SELECT "Mission_Outcome", COUNT(*) AS "Total"
    FROM SPACEXTBL
    GROUP BY "Mission_Outcome";
''')

# Fetch and print the result
results = cursor.fetchall()
print("Mission Outcome Summary:")
for row in results:
    print(f"{row[0]}: {row[1]}")

Mission Outcome Summary:
Failure (in flight): 1
Success: 98
Success : 1
Success (payload status unclear): 1

In [24]:
# Task 8

In [25]:
import sqlite3

# Connect to your database (update the path or name if needed)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the query
cursor.execute('''
    SELECT "Booster_Version"
    FROM SPACEXTBL
    WHERE "PAYLOAD_MASS__KG_" = (
        SELECT MAX("PAYLOAD_MASS__KG_")
        FROM SPACEXTBL
    );
''')

# Fetch and print the result
results = cursor.fetchall()
print("Booster version with maximum payload mass:")
for row in results:
    print(row[0])

Booster version with maximum payload mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

In [26]:
# Task 9

In [28]:
import sqlite3

# Connect to your database (update the path or name if needed)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the query
cursor.execute('''
    SELECT 
        substr("Date", 6, 2) AS "Month",
        "Landing_Outcome",
        "Booster_Version",
        "Launch_Site"
    FROM SPACEXTBL
    WHERE substr("Date", 1, 4) = '2015'
        AND "Landing_Outcome" LIKE '%Failure%'
        AND "Landing_Outcome" LIKE '%drone ship%';
''')

# Fetch and print the result
results = cursor.fetchall()
print("Failure Landings on Drone Ship in 2015 by Month:")
for row in results:
    print(f"Month: {row[0]}, Outcome: {row[1]}, Booster: {row[2]}, Launch Site: {row[3]}")

Failure Landings on Drone Ship in 2015 by Month:
Month: 01, Outcome: Failure (drone ship), Booster: F9 v1.1 B1012, Launch Site: CCAFS LC-40
Month: 04, Outcome: Failure (drone ship), Booster: F9 v1.1 B1015, Launch Site: CCAFS LC-40

In [29]:
# Task 10

In [ ]:
import sqlite3

# Connect to your database (update the path or name if needed)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the query
cursor.execute('''
    SELECT "Landing_Outcome", COUNT(*) AS "Outcome_Count"
    FROM SPACEXTBL
        WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
        GROUP BY "Landing_Outcome"
        ORDER BY Outcome_Count DESC;
''')

# Fetch and print the result
results = cursor.fetchall()
print("Landing Outcome Counts (Ranked) from 2010-06-04 to 2017-03-20:")
for row in results:
    print(f"Outcome: {row[0]}, Count: {row[1]}, Booster: {row[2]}, Launch Site: {row[3]}")